body {
    background: linear-gradient(#fff0d4, #ffb347);
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.menu {
    background: darkred;
    padding: 12px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    text-decoration: underline;
}


.container {
    width: 85%;
    max-width: 1000px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}


h1 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: darkred;
    font-size: 34px;
}

h2 {
    color: #b30000;
    font-size: 22px;
    margin-top: 30px;
}

p {
    font-size: 18px;
    line-height: 1.7;
    text-align: justify;
}


.img {
    width: 100%;
    max-height: 380px;
    object-fit: cover;
    border-radius: 12px;
    margin: 15px 0;
}


.highlight {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: darkred;
    margin-top: 30px;
}


footer {
    text-align: center;
    padding: 15px;
    background: darkred;
    color: white;
    margin-top: 30px;
}


#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 16px;
    font-size: 20px;
    border: none;
    background: darkred;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    }
